.footer
  .container-footer
    .footer-copyright &copy; 2021-2023 Gutech
    .footer-scroll-button
      | Наверх&nbsp;&nbsp;
      svg(role='presentation', width='5px', height='17px', viewbox='0 0 6 20', version='1.1')
        defs
        g#Welcome(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', sketch:type='MSPage')
        g#Desktop-HD-Copy-39(sketch:type='MSArtboardGroup', transform='translate(-569.000000, -1797.000000)', fill='#ffffff')
          path#Shape(d='M565.662286,1804.2076 L562.095536,1806.87166 C561.958036,1807.00916 561.958036,1807.16385 562.095536,1807.30135 L565.662286,1809.96541 C565.799786,1810.10291 565.941411,1810.0431 565.941411,1809.83616 L565.941411,1808.11741 L581.816411,1808.11741 L581.816411,1806.05491 L565.941411,1806.05491 L565.941411,1804.33616 C565.941411,1804.18147 565.866474,1804.1141 565.769536,1804.14297 C565.737224,1804.1526 565.696661,1804.17322 565.662286,1804.2076 Z', sketch:type='MSShapeGroup', transform='translate(571.904411, 1807.088000) rotate(-270.000000) translate(-571.904411, -1807.088000) ')