extends layout

block content
  include ./blocks/block-1
  include ./blocks/block-2
  include ./blocks/block-3
  include ./blocks/block-4
  include ./blocks/block-5
  include ./blocks/block-6
  include ./blocks/block-7
  include ./blocks/footer
  include ./blocks/scripts